DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456


## paypal
# https://developer.paypal.com/dashboard
# sb-mztqv37011290@business.example.com
# Abc123456
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=